$primary-dark: #102754;
$primary-main: #453CC9;
$primary-light: #9B97D3;

$secondary-main: #22AFF1;
$secondary-light: #99C8FF;
$secondary-thin: #D4E8FF;

$tint-grey-700: #4A4A4A;
$tint-grey-600: #8E8E8E;
$tint-grey: #828282;

$tint-white: #FFFFFF;
